html, body {   
    background-image: url('https://dashpen.github.io/blog/images/light-gradient.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #cccccc;
}